@{
    ViewBag.Title = "FindEmployee";
}
<html>
    <head>
        <title>MVC4Razor - Find Employee</title>
    </head>
    <body>
        <form name="FindEmployee" method="post">
            <h3>Sort:</h3>
            <label for="employeeName"><b>Name:</b></label>
            <input type="text" value="" name="employeeName" id="employeeName" />
            <label for="employeeEmail"><b>Email:</b></label>
            <input type="text" value="" name="employeeEmail" id="employeeEmail" />
            <input type="submit" value="Query" />
        </form>
        <table border="1">
            <tr>
                <td colspan="4">
                    <h2>Employees</h2>
                </td>
            </tr>
            <tr>
                <td><b>Id:</b></td>
                <td><b>Name:</b></td>
                <td><b>Email:</b></td>
                <td><b>Is Deleted:</b></td>
            </tr>
            @if (ViewBag.Employees != null)
            {
                foreach (var oneItem in ViewBag.Employees.Items)
                {
                    <tr>
                        <td>@oneItem.EmployeeId</td>
                        <td>@oneItem.EmployeeName</td>
                        <td>@oneItem.EmployeeEmail</td>
                        <td>@oneItem.EmployeeIsDeleted</td>
                    </tr>
                }
            }
        </table>
        <br />
        <div>@Html.ActionLink("Back", "Index")</div>
    </body>
</html>